.mapContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.map {
  height: 26em;
  width: 36em;
}

@media (max-width: 768px) { /*TABLET Portrait*/
    .map{ width: 31em; height: 21em; }
}

@media (max-width: 580px) { /*PHONE*/
    .map{ 
      width: 100%;;
      height: 15em; }
}

